/* geral */
* {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
    font-family: Inter, sans-serif;

}

body {

    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    height: 100%;
    width: 100%;


}

/* menu navegação */
.nav-azul {
    background-color: #0C2D48;
    padding: 23px 40px;
    width: 100%;
    height: 80px;
}

#log-administrador {
    margin-right: 20px;
    color: white;
}

#link-administrador {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding-right: 40px;
}

.icone-administrador {
    margin-right: 5px;
}

#logo {
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 23px;
}

/* Parte Principal - SUBMENU */

#conteudo-principal {
    padding: 15px;
    width: 80%;
}

ul#menu-interno {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

#menu-interno li a {
    text-decoration: none;
    color: black;
}

ul#menu-interno li .active {
    color: #0062A6;
    border-bottom: 3px solid #0062A6;
}

/* Parte Principal Formulário */

.controle-formulario {
    padding: 20px;
    position: relative;
}

.controle-formulario label {
    margin-left: 5px;
}

.controle-formulario input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

/* tamanho dos inputs */
.maior {
    width: 300px;
}

.mediano {
    width: 150px;
}

.menor {
    width: 100px;
}

.botao-formulario {
    color: white;
    background-color: #0062A6;
    border: 2px solid white;
    border-radius: 20px 20px;
    padding: 10px;
    margin-top: 45px;
}

/*
.row {
    border: 1px solid red; 
}
*/

/* Personalizando tabela */

.table {
    margin-top: 50px;
}

.th {
    border-bottom: none;
}

.tr {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

#lista-contatos tr td {
    padding: 15px;
}

/* cliente */

#titulo-cadastro-cliente {
    margin-right: 50%;
    margin-left: 50%;
    font-size: 1.5em;
    border-bottom: 3px solid #EBEBEB;
    font-weight: bold;
}



/* longin-administrador */
.voltar_login_admoinistrador {
    padding: 30px 40px;
}


.corpo_administrador_login {
    margin: 0px;
    background: #0062A6;
}


.section_administrador_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo_fundo_login {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-size: 150px;
    color: rgba(255, 255, 255, 0.073);
    font-style: normal;
    font-weight: bold;
    user-select: none;

}

.container_login {
    display: flex;
    flex-direction: column;
    width: 431px;
    height: 566px;

    background: rgba(12, 45, 72, 0.46);
    border-radius: 20px;
}

.container_login_nomes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #f0f0f0;
    margin-top: 99px;
}

.logo_form {
    font-weight: bold;
    font-size: 28px;
}

.container_login_nomes p {
    margin: 0;
    text-align: center;
}

.form_administrador {
    padding: 40px 15px;
    color: #f0f0f0;
}

.form_administrador_login {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px;
}



#email {
    border-radius: 4px;
    width: 400px;
    height: 28px;

}

#password {
    border-radius: 4px;
    width: 400px;
    height: 28px;

}

#botao_entrar {
    background: #0C2D48;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;

    height: 38px;
    width: 127px;
    left: 656px;
    top: 648px;

    margin-left: 35%;
    margin-top: 10%;

    cursor: pointer;
}

.esqueceu_login_administrador {
    color: #f0f0f0;
    margin-left: 32%;
    margin-top: 10%;
}

/* --------------------- */
/* Ajustando width das paginas */
.wrapper {
    display: flex;
    width: 100%;
}

/* Ajustando input dos relatorios */

.input-radio {
    position: relative;
    top: 10px;
    font-size: 18px;
}

.botao-input-radio {
    color: white;
    background-color: #0062A6;
    border: 2px solid white;
    border-radius: 20px 20px;
    padding: 5px;
}

/* ajustando botões do pagamento */
.alinhamento {
    position: relative;
    bottom: 10px;
    left: 5px;
    font-size: 15px;
}

.alinhamento-botao {
    position: relative;
    top: 5px;
}

details input {
    display: flex;
}

/* FAZENDO MENU LATERAL */

.navigation {
    position: relative;
    height: 500px;
    background: white;
    width: 70px;
    box-shadow: 10px 0 0 #0C2D48;
    border-left: 10px solid white;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #0C2D48;
}

.navigation ul li a .icone_menu_lateral {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icone_menu_lateral i {
    position: relative;
    bottom: 5px;
    font-size: 1.5s;
    z-index: 1;
}

.navigation ul li a .titulo_menu_lateral {
    position: relative;
    display: block;
    padding-left: 10px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: #0C2D48;

}

.navigation ul li.active a {
    color: white;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #0C2D48;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #0C2D48;
}

/* Banner do index */

.imagem-banner {
  margin-bottom: 5px;
}

.texto-fora {
    border-bottom: 5px solid #0C2D48;
    padding: 10px;
    border-top: 5px solid #0C2D48;
}

.texto-banner { 
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #0C2D48;
}